<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2177.3269141950577!2d19.9553824!3d50.0549417!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b3f2cbf5447%3A0xa03a334121c096d6!2sMasarska+11%2C+31
-539+Krak%C3%B3w!5e1!3m2!1spl!2spl!4v1542124998877" width="1920" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</body>
<div class="container">
    <h3 class="text-center">Kontakt</h3>
    <p class="text-center"><em>W razie pytań zaprszam do kontaktu</em></p>
    <div class="row test">
        <div class="col-md-4">
            <p><span class="glyphicon glyphicon-map-marker"></span>Polska, Kraków, Masarska 11</p>
            <p><span class="glyphicon glyphicon-phone"></span>telefon: +48 506-630-850</p>
            <p><span class="glyphicon glyphicon-envelope"></span>Email: rejbus@wp.pl</p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Imie" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Komentarz" rows="5"></textarea>
            <div class="row">
                <div class="col-md-12 form-group">
                    <button class="btn pull-right" type="submit">Wyślij</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>