<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    body{
        margin-top:10%;
        background: darkslategray;
    }
</style>
<body>
<div class="container">

    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
        <fieldset class="radio-menu-item">
            <legend><center><h2><b>Dodaj szybko inwestycje</b></h2></center></legend><br>

            <div class="form-group">
                <label class="col-md-4 control-label">Przychód</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon"><a>PLN</a></i></span>
                        <input  name="first_name" placeholder="Dodaj przychód" class="form-control"  type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" >Wydatki</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon"><a>PLN</a></i></span>
                        <input name="last_name" placeholder="Doadaj wydatki" class="form-control"  type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4"><br>
                    <button type="submit" class="btn btn-warning" >Wyślij <span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
</div>
</body>
</html>